@using Nexus_Manegement.Models;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Nexus_Management.Areas.Technical.ModelsView.OrderView>
@*@model PaginatedList<Nexus_Management.Areas.Technical.ModelsView.OrderView>*@

<div class="table-responsive">
    <table class="table table-hover mb-0">
        <thead>
            <tr>
                <th>NO.</th>
                <th>CUSTOMER NAME</th>
                <th>SERVICE NAME</th>
                <th>PRICE</th>
                <th>QUANTITY</th>
                <th>USAGE PACK</th>
                <th>REGISTRATION DATE</th>
                <th>CONNECTION DATE</th>
                <th>EXPIRATION DATE</th>
                <th>STATUS</th>
            </tr>
        </thead>
        <tbody>
            @if (TempData.ContainsKey("Message"))
            {
                <div class="alert alert-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                    @TempData["Message"]
                </div>
            }
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].IDOrder</td>
                    <td class="text-bold-500">@Model[i].CustomerName</td>
                    <td>@Model[i].ServiceName</td>
                    <td class="text-bold-500">@Model[i].Price$</td>
                    <td>@Model[i].Quantity</td>
                    <td>@Model[i].UsagePack</td>
                    <td>@Model[i].RegistrationDate</td>
                    @if (Model[i].StatusService == 0)
                    {
                        <td>Waiting for technical processing</td>
                        <td>Waiting for technical processing</td>
                        <td>
                            <a href="/Technical/NewConnect?id=@Model[i].IDBill&&idOrder=@Model[i].IDOrder&&usagepack=@Model[i].UsagePackID" class="btn icon icon-left btn-success">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle">
                                    <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                                    <polyline points="22 4 12 14.01 9 11.01"></polyline>
                                </svg> Success
                            </a>
                        </td>
                    }
                    else if (Model[i].StatusService == 1)
                    {
                        <td>@Model[i].ConnectionDate</td>
                        <td>@Model[i].ExpirationDate</td>
                        <td>
                            <span class="badge bg-success">Activated</span>
                        </td>
                    }
                    else
                    {
                        <td>@Model[i].ConnectionDate</td>
                        <td>@Model[i].ExpirationDate</td>
                        <td>
                            <span class="badge bg-danger">Deactivate</span>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
