@using Newtonsoft.Json;
@using Nexus_Manegement.Models;
@{
    Layout = "_LayoutManagement";
}
@{
    var ExpiryDate = Nexus_Manegement.Areas.Management.Dao.ExpiryDateDao.Instance.ExpiryDates;
    var Category = Nexus_Manegement.Areas.Management.Dao.CategoryDao.Instance.Categories;
}
@model List<Nexus_Manegement.Areas.Management.ModelView.ServiceplanView>
<style>
    .table th, .table td {
        padding: 5px 10px;
    }
</style>
@if (TempData.ContainsKey("addservice"))
{
    <div id="alert" class="alert alert-success">@TempData["addservice"]</div>
}
<div style="height: 50px;
    text-align: center;
    border-bottom: 0.2px solid black;
    margin-bottom: 2px;">
    <label style="    font-size: larger;
    font-weight: 900;"><h2>SERVICE PLAN</h2></label>
</div>
<div>
    <button onclick="history.back()" class="btn btn-secondary round" role="button" style="margin-left:10px; height: 46px;">
        Back
    </button>


    <button onclick="myFunction()" class="btn btn-secondary round" role="button" style="margin-left:10px;margin-top:10px;margin-bottom:10px">ADD SERVICEPLAN</button>
</div>

<div class="card" id="ca" style="display:none;margin: 20px 50px;">
    <div class="card-header">
        <h4 class="card-title">ADD SERVICEPLAN</h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            <form class="form form-vertical" action="/Management/InsertServicePlan" method="post" enctype="multipart/form-data" id="sectionForm">
                <div class="form-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="first-name-vertical">Name</label>
                                <input type="text" id="first-name-vertical" maxlength="99" class="form-control" name="name" required placeholder="Name">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="email-id-vertical">Price</label>

                                <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                       maxlength="15" id="pricee" class="form-control" name="price" required placeholder="Price">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="contact-info-vertical">Category</label>
                                <select name="category" class="form-control" id="category">
                                    @for (int i = 0; i < Category.Count; i++)
                                    {
                                        <option value="@Category[i].ID">@Category[i].Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="password-vertical">Image</label>
                                <input type="file" id="fileName" accept=".jpg,.jpeg,.png" onchange="validateFileType(event)" class="form-control" name="Image" class="col-md-10" required>
                            </div>
                            <div class="preview col-md-6 form-group mb-5">
                                <img id="file-ip-1-preview" style="max-height:300px;width:auto">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="password-vertical">Description</label>
                                <textarea name="description" class="form-control" id="des" placeholder="This is some sample content." ></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="col-form-label">Expiry Date</label>
                                <br />
                                @for (int i = 0; i < ExpiryDate.Count; i++)
                                {
                                    <input type="checkbox" name="1" value="@ExpiryDate[i].ID">
                                    <label class="col-form-label" for="ch1">@ExpiryDate[i].Name</label>

                                }
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary me-1 mb-1" id="butsub">Submit</button>
                            <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="card" style="margin:20px 50px">
    <div class="card-header">
        <h4 class="card-title">SERVICEPLAN</h4>
    </div>
    <div class="card-content">
        <div class="card-body">

            <!-- Table with outer spacing -->
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">NAME</th>
                            <th scope="col">PRICE</th>
                            <th scope="col">OPTION</th>
                            <th scope="col">DESCRIPTION</th>
                            <th scope="col">IMAGE</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            List<Option> lsOption = new List<Option>();
                            try
                            {
                                var options = JsonConvert.DeserializeObject<List<Option>>(Model[i].Options);
                                    foreach (var item in options)
                                {
                                    lsOption.Add(item);
                                }
                            }
                            catch (Exception)
                            {
                                
                            }
                            //'{"name":"John", "age":30, "car":null}'
                            string jsonn = Model[i].Options.ToString();
                            <tr>
                                <td>@i</td>
                                <td class="text-bold-500" style="max-width:100px">@Model[i].Name</td>
                                <td class="text-bold-500" style="max-width:100px">@Model[i].Price</td>
                                <td class="text-bold-500" style="max-width:100px">
                                    @for (int j = 0; j < lsOption.Count; j++)
                                        {
                                        <div>@lsOption[j].Name</div>
                                        }
                                </td>
                                <td class="text-bold-500" style="max-width:100px">@Model[i].Description</td>
                                <td class="text-bold-500" style="max-width:200px"><img src="~/Image/@Model[i].Image" class="card-img-top" alt="..." style="height:200px;width:auto;max-width:300px"></td>
                                <td class="text-bold-500">
                                    @if (Model[i].Status == false)
                                    {
                                        <span>
                                            <a href="@Url.Action("Activeser","Management")?id=@Model[i].ID"><i style="font-size: 25px;color:#B22222" class="fa-solid fa-circle-xmark"></i></a>
                                            <a href="/Management/Editser/?id=@Model[i].ID">
                                                <i style="font-size: 25px;" class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                        </span>
                                    }
                                    else
                                    {
                                        <span>
                                            <a href="@Url.Action("Disactiveser","Management")?id=@Model[i].ID"><i style="font-size: 25px;color:#228B22" class="fa-solid fa-circle-check"></i></a>
                                            <a href="/Management/Editser/?id=@Model[i].ID">
                                                <i style="font-size: 25px;" class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                        </span>
                                    }
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

<script>
    const butsub = document.getElementById("butsub");
  
    butsub.addEventListener("click",(e)=>{
        const des = document.getElementById("des");
        if(des.value==""){
            alert('Please enter content!');
            e.preventDefault();
        }
    })

</script>

<script type="text/javascript">
    function validateFileType(event) {
        var fileName = document.getElementById("fileName").value;
        var file = document.getElementById("fileName");
        var idxDot = fileName.lastIndexOf(".") + 1;
        var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
        if (extFile == "jpg" || extFile == "jpeg" || extFile == "png") {
            if (event.target.files.length > 0) {
                var src = URL.createObjectURL(event.target.files[0]);
                var preview = document.getElementById("file-ip-1-preview");
                preview.src = src;
                preview.style.display = "block";
            }
        } else {
            alert("You are only select image");
            file.value ="";
        }
        
    }
</script>
<script>

    function showPreview(event) {
        if (event.target.files.length > 0) {
            var src = URL.createObjectURL(event.target.files[0]);
            var preview = document.getElementById("file-ip-1-preview");
            preview.src = src;
            preview.style.display = "block";
        }
    }
    function myFunction() {
        var x = document.getElementById("ca");
        if (x.style.display === "none") {
            x.style.display = "block";

        } else {
            x.style.display = "none";
        }
    }
    (function () {
        const form = document.querySelector('#sectionForm');
        const checkboxes = form.querySelectorAll('input[type=checkbox]');
        const checkboxLength = checkboxes.length;
        const firstCheckbox = checkboxLength > 0 ? checkboxes[0] : null;

        function init() {
            if (firstCheckbox) {
                for (let i = 0; i < checkboxLength; i++) {
                    checkboxes[i].addEventListener('change', checkValidity);
                }

                checkValidity();
            }
        }

        function isChecked() {
            for (let i = 0; i < checkboxLength; i++) {
                if (checkboxes[i].checked) return true;
            }

            return false;
        }

        function checkValidity() {
            const errorMessage = !isChecked() ? 'At least one checkbox must be selected.' : '';
            firstCheckbox.setCustomValidity(errorMessage);
        }

        init();
    })();


</script>
<script src="https://code.jquery.com/jquery-3.6.3.js"></script>
@*<script>
    $("form").on("submit", function (event) {
        console.log($(this).serializeArray());
        event.preventDefault();
    });

    function showValues() {
        var fields = $(":input").serializeArray();
        $("#results").empty();
        jQuery.each(fields, function (i, field) {
            $("#results").append(field.value + " ");
        });
    }

    $(":checkbox, :radio").on("click", showValues);
    $("select").on("change", showValues);
    showValues();
</script>*@